<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Monotributo | Información, Requisitos y Ventajas | Araiestudio</title>

  <meta name="description" content="Todo sobre el Monotributo en Argentina: cómo funciona, requisitos,
   categorías y beneficios. Araiestudio te asesora para inscribirte, pagar y mantener tu situación regular 
   como contribuyente. Ideal para pequeños contribuyentes y emprendedores.">
  <meta name="keywords" content="monotributo, régimen simplificado, impuestos, contribuyentes,
   inscripción monotributo, categorías monotributo, beneficios monotributo, Araiestudio, asesoramiento fiscal,
    obligaciones fiscales, pagos monotributo">

    <!--boostrap icons-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
    <!--boostrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
   <!--Css propio--> 
    <link rel="stylesheet" href="../css/styles.css">
  </head>
<body>

    
        <header>
          <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container-fluid">
              <a class="navbar-brand" href="../index.html"><img class="logo_nav" src="../img/logo.jpg" alt="logo arai"></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="../index.html">INICIO</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">MONOTRIBUTO</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="./pagos.html">PAGOS Y COBROS</a>
                   </li>
                   <li class="nav-item">
                     <a class="nav-link" href="./contacto.html">CONTACTO</a>
                   </li>
                   <li class="nav-item">
                     <a class="nav-link" href="./otro.html">OTRO</a>
                   </li>
                </ul>
              </div>
            </div>
          </nav>
        </header>
<main>
 <section class="contenido">

<h1>Monotributo</h1>

<section class="mono--grid">

<div class="concept-list">

  <h2>Conceptos</h2>

      <a href="./que_monotributo.html" class="item">
        <div class="icon">
          <i class="bi bi-list-check"></i>
        </div>
        <h3>Conceptos y Requisitos</h3>
      </a>

      <a href="./diferencias.html" class="item">
        <div class="icon">
          <i class="bi bi-diagram-3"></i>
        </div>
        <h3>Diferencias con otros Regímenes</h3>
      </a>    
      
      <a href="./unificado.html" class="item">
        <div class="icon">
          <i class="bi bi-table"></i>
        </div>
        <h3>Tablas de Monotributo Unificado</h3>
      </a>

  </div>

  <div class="obra-list">

    <h2>Obra Social</h2>

      <a href="./cambiar-obra.html" class="item">
        <div class="icon">
          <i class="bi bi-arrow-repeat"></i>
        </div>
        <h3>Cambiar de Obra Social</h3>
      </a>

      <a href="./alta-obra.html" class="item">
        <div class="icon">
          <i class="bi bi-hospital-fill"></i>
        </div>
        <h3>Alta de Obra Social</h3>
      </a>    
      
      <a href="./reclamo-obra.html" class="item">
        <div class="icon">
          <i class="bi bi-file-earmark-x"></i>
        </div>
        <h3>Reclamo por Negativa de Obra Social</h3>
      </a>

</div>

<div class="baja-list">

  <h2>Baja</h2>

        <a href="./baja.html" class="item">
        <div class="icon">
          <i class="bi bi-dash-circle"></i>
        </div>
        <h3>Solicitar Baja</h3>
      </a>

      <a href="./bajaretroactiva.html" class="item">
        <div class="icon">
          <i class="bi bi-clock-history"></i>
        </div>
        <h3>Baja Retroactiva</h3>
      </a>    
      
      <a href="./exclusion.html" class="item">
        <div class="icon">
          <i class="bi bi-person-x"></i>
        </div>
        <h3>Baja por Exclusión</h3>
      </a>

</div>

<div class="categorias-list">

  <h2>Categorias</h2>

      <a href="./parametros.html" class="item">
        <div class="icon">
          <i class="bi bi-sliders"></i>
        </div>
        <h3>Parámetros</h3>
      </a>    
      
      <a href="./calculadora.html" class="item">
        <div class="icon">
         <i class="bi bi-list-check"></i>
        </div>
        <h3>Calculadora de Monotributo</h3>
      </a>

</div>

<div class="alta-list">

  <h2>Alta</h2>
      <a href="./alta_monotributo.html" class="item">
        <div class="icon">
          <i class="bi bi-person-plus"></i>
        </div>
        <h3>Alta de Monotributo</h3>
      </a>    
      
      <a href="./cuit_fisico.html" class="item">
        <div class="icon">
         <i class="bi bi-card-text"></i>
        </div>
        <h3>Solicitar Cuit de Persona Física</h3>
      </a>

</div>

<div class="pagar-mono-list">

  <h2>Pagar Monotributo</h2>

      <a href="./pagar.html" class="item">
        <div class="icon">
          <i class="bi bi-credit-card"></i>
        </div>
        <h3>Pagar Monotributo</h3>
      </a>    
      
      <a href="./consultar-deuda.html" class="item">
        <div class="icon">
          <i class="bi bi-search"></i>
        </div>
        <h3>Consultar Deudas y Ver Pagos</h3>
      </a>

      <a href="./reimputar.html" class="item">
        <div class="icon">
          <i class="bi bi-arrow-left-right"></i>
        </div>
        <h3>Reimputar Saldo a Favor</h3>
      </a>
</div>

</section>

</section>

</main>
        <footer class="footer">
  <div class="container footer-contenido">
    
    <div class="footer-col">
      <h5>LOGO</h5>
      <p>Asesoramiento impositivo y contable.</p>
    </div>

    <div class="footer-col">
      <h6>Secciones</h6>
      <ul>
        <li><a href="../index.html">Inicio</a></li>
        <li><a href="#">Monotributo</a></li>
        <li><a href="./pagos.html">Pagos y Cobros</a></li>
        <li><a href="./contacto.html">Contacto</a></li>
      </ul>
    </div>

    <div class="footer-col">
      <h6>Contacto</h6>
      <p>Email: araiestudiocontable@email.com</p>
      <p>Tel: +54 11 68820017</p>
    </div>

  </div>

  <div class="footer-bottom">
    <p>© 2026 Todos los derechos reservados</p>
  </div>
</footer>

 <section>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</section>

</body>
</html>